@media only screen and (min-width:769px) and (max-width:1024px) {
    nav {
        padding: 20px;
    }
    .tvsection{
        padding: 20px;
    }
    .downloadshow{
        padding: 20px;
    }
    .downloadright p{
      font-size: 22px;
    }
    .tvsectionvideo{
        right: 98px;
    }
    .watchvideo{
        right: 130px;
        bottom: -1535px;
        
    }
}
@media only screen and (min-width:561px) and (max-width:768px) {
    nav{
        padding: 20px ;
    }
    .heading h1{
        font-size: 40px;
    }
    .heading p{
        font-size: 20px;
    }
    .tvsection{
        flex-direction: column;
    }
    .tvsectionleft{
        flex-basis: 45%;
        text-align: center;
    }
    .tvsectionleft h2{
        font-size: 35px;
        font-weight: 700;  
        padding-top: 10px;  
    }
    .tvsectionleft p{
        font-size: 18px;
        padding: 10px 20px;
    }
    .downloadshow{
        flex-direction: column-reverse;
    }
    .downloadright{
        flex-basis: 45%;
        text-align: center;
    }
    .downloadright h2{
        font-size: 35px;
        font-weight: 700;  
        padding-top: 10px;  
    }
    .downloadright p{
        font-size: 18px;
        padding: 10px 20px;
    }
    .footermain{
        padding: 20px;
    }
    .tvsectionvideo{
        right: 160px;
        top: 850px;
    }
    .watchvideo{
        right: 190px;
        bottom: -1865px;
        
    }

}
@media only screen and (max-width:560px) {
    nav{
        flex-direction: column;
    }
    .mainheading .heading{
        flex-basis: 30%;
     }
     .heading h1{
        font-size: 35px;
    }
    .heading p{
        font-size: 18px;
        padding: 5px;
    }
    .mainheading .inputarea{
        flex-direction: column;
    }
    .inputarea input{
        width: 300px;
        line-height: 20px;
        /* padding: 16px 8px ; */
        font-size: 16px;
        font-weight: 600;
        margin-right: 10px;
    }
    .inputarea button{
        font-size: 20px;
        font-weight: 500;
        min-height: 50px;
        /* padding: 12px 24px; */
        margin-top: 15px;
    }
    .tvsection{
        flex-direction: column;
    }
    .tvsectionleft{
        flex-basis: 30%;
        text-align: center;
    }
    .tvsectionleft h2{
        font-size: 30px;
        font-weight: 700;  
        padding-top: 10px;  
    }
    .tvsectionleft p{
        font-size: 16px;
        padding: 10px 10px;
    }
    .tvsectionright{
        flex-basis: 30%;
    }
    
    .tvsectionright img{
        width: 400px;
        height: 300px;
    }
    .downloadshow{
        flex-direction: column-reverse;
    }
    .downloadright{
        flex-basis: 30%;
        text-align: center;
    }
    .downloadright h2{
        font-size: 30px;
        font-weight: 700;  
        padding: 10px 10px;  
    }
    .downloadright p{
        font-size: 16px;
        padding: 10px 10px;
    }
    .downloadleft{
        flex-basis: 30%;
    }
    .downloadleft img{
        width: 400px;
        height: 300px;
    }
    .footercall h2{
        margin-left: 20px;
    }
    .footerinner{
        flex-direction: column;
        text-align: center;
    }
    .footerdrop {
     margin: 20px
    }
    .tvsectionvideo{
        right: 66px;
        bottom: -776px;
        width: 296px;
        height: 193px;
    }
    .watchvideo{
        right: 87px;
    bottom: -1737px;
    width: 257px;
    height: 181px;
    }
}
@media only screen and (max-width:376px){
    .heading h1{
        font-size: 30px;
    }
    .heading p{
        font-size: 16px;
    }
    .tvsectionright img{
        width: 300px;
        height: 300px;
    }
    .downloadleft img{
        width: 300px;
        height: 300px;
    }
    .tvsectionvideo{
        right: 52px;
        bottom: -776px;
        width: 246px;
        height: 191px;
    }
    .watchvideo{
        right: 90px;
        bottom: -1745px;
        width: 200px;
        height: 191px;
    
    }
}